
.sidebar {
  width: 160px;
  height: 100%;
  background-color: grey;
  float: left;
  position: fixed;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}
li#sidelist {
  list-style-type: none;
}
.logo {
  width: 150px;
  height: 150px;
}

.container {
  margin-left: 180px;
}

#welcome {
  background-color: lightblue;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}
#left-col {
  height: 550px;
  width: 563px;
  background-color: lightyellow;
  padding: 5px;
  border: 1px solid yellow;
  margin: 5px;
  float:left;
  clear: auto;
}
#yellow-heading {
  background-color: yellow;
  padding: 2px;
  border: 1px solid orange;
  margin: 5px;
}
#right-col {
  height: 550px;
  width: 563px;
  background-color: lightgreen;
  padding: 5px;
  border: 1px solid green;
  margin: 5px;

  clear: auto;
}
#green-heading {
  background-color: green;
  padding: 2px;
  border: 1px solid blue;
  margin: 5px;
}

#feature {
  height: 310px;
  width: 100%;
  background-color: lightpink;
  padding: 5px;
  border: 1px solid pink;
  margin: 5px;
}

#pink-heading {
  background-color: pink;
  padding: 2px;
  border: 1px solid purple;
  margin: 5px;
}

img.bird {
  float: left;
  margin: 5px;
}

#feature p {
  display: inline;
  padding: 5px;
  margin: 5px;
}
